<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/premium-vector/abstract-plexus-background-with-connecting-dots-lines_302149-235.jpg?w=1380');
            background-size: cover;
            height: 90vh;
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    {% include 'nav.html' %}

    <div class="container mt-5">
        <h1 class="text-center">Recent Activities</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>User Data</th>
                    <th>URL</th>
                    <th>Uploaded On</th>
                </tr>
            </thead>

            <tbody>
                {% for activity in activities %}
                <tr>
                    <td>{{ activity[0] }}</td>
                    <td>{{ activity[3] }}</td>
                    <td>
                        <a href="{{ activity[2] }}" class="btn btn-success" target="_blank">Open</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
            <!-- <tbody>
                {% for activity in activities %}
                <tr>
                    <td>{{ activity[0] }}</td>
                    <td>{{ activity[1] }}</td>
                    <td><a href="{{ activity[2] }}" class="btn btn-success" target="_blank">Open</a></td>
                    <td>{{ activity[3] }}</td>
                </tr>
                {% endfor %}
            </tbody> -->
        </table>
        <footer class="text-center mt-5">
            <small>&copy; 2024 Brian Muhindi Mwangi. All rights reserved.</small>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
